python-dateutil==2.5.0
git+https://github.com/wtsi-hgi/python-common.git@91c7d03922ae0e693c7993541277022dce0f1fc5#egg=hgicommon
git+https://github.com/wtsi-hgi/python-json.git@451ed0a05d6a7b75370a6facd4186b64e3e47d34#egg=hgijson