nose==1.3.7
git+https://github.com/wtsi-hgi/test-with-baton.git@54636c338b11483f72e1112f47faa05e4dbf23f9#egg=testwithbaton
git+https://github.com/wtsi-hgi/test-with-irods.git@6fdda14ae281b2cd8e79159f78d6ffe7eb223534#egg=testwithirods
frozendict==0.6